<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @person.email %>
</p>

<p>
  <b>Email hash:</b>
  <%= @person.email_hash %>
</p>

<p>
  <b>Verified:</b>
  <%= @person.verified %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
